#root section.caseStudy {
	z-index: 2;
	display: flex;
	overflow: visible;
	padding-top: 6rem;
	position: relative;

	&[highlight="image"] {
		&::before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			content: "";
			position: absolute;
			background: rgba(255,255,255,.5);
		}
		& .content {
			z-index: 1;
			position: relative;
		}
	}

	& h1 {
		font-size: 4rem;
	}

	& .content {
		padding: 0;

		& .copy {
			padding: 0 3.5rem;
			max-width: 1200px;

			@media screen and (max-width: 380px) {
				& {
					padding: 0 2.5rem;
				}
			}

			@media screen and (max-width: 320px) {
				& {
					padding: 0 1.5rem;
				}
			}

			@media screen and (min-width: 1250px) {
				& {
					padding: 0;
				}
			}
		}

		@media screen and (min-width: 700px) {
			margin-bottom: -2rem;

			& h1 {
				font-size: 3.5rem;
			}
		}
		@media screen and (min-width: 750px) {
			margin-bottom: -1.5rem;
		}
	}
}

.modal {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	position: fixed;
	z-index: var(--top-level);
	background: var(--highlight-3);

	&[condition="open"] {
		display: block;
	}
}