#clientBanner {
	color: var(--white);
	background: var(--dark-blue);
	min-height: 50vh; 

	@media screen and (min-width: 700px) {
		min-height: unset; 
	}

	& path {
		fill: var(--white) !important;
	}

	@media screen and (min-width: 650px) {
		color: var(--dark-blue);
		background: var(--white);

		& path {
			fill: var(--dark-blue) !important;
		}
	}

	& .content {
		text-align: center; 

		& span {
			display: flex;
			align-items: center;
		}
	}
}