.imageWithText {
	display: flex;
	flex-direction: column;
	align-items: center;

	& .content {
		padding: 0;

		& .copy {
			margin: 0 auto;
			padding: 0 3.5rem;

			@media screen and (max-width: 360px) {
				& {
					padding: 0 2.5rem;
				}
			}

		}
	}

	& .imageHolder {
		padding: 0;
		transform: scale(1.4);
		margin-bottom: 3.5rem;

		@media screen and (min-width: 500px) {
			transform: scale(1.2);
			margin-bottom: 1rem;
		}

		@media screen and (min-width: 600px) {
			transform: scale(1);
			margin-bottom: .5rem;
		}
	}

	@media screen and (min-width: 700px) {
		& .content {
			display: grid;
			align-items: center;
			justify-items: center;
			grid-column-gap: 1.5rem;
			grid-template-columns: 1fr 1fr;

			& .copy {
				grid-row: 1;
				grid-column: 1;
			}

			& .image-container {
				grid-row: 1;
				grid-column: 2;
			}
		}
	}
}