:root {
	--highlight-1: #32a39e;
	--highlight-2: #2e9597;
	--highlight-3: #DEEBD0;
	--dark-blue: #1a5479;
	--darker-blue: #14425E;
	--white: #fff;

	--disruptor-color: var(--white);

	--disrupter-angle: -10deg;
	--anti-disrupter-angle: 10deg;

	@media screen and (min-width: 700px) {
		--disrupter-angle: -5deg;
		--anti-disrupter-angle: 5deg;
	}

	--body-gradient: linear-gradient(
		var(--disrupter-angle),
		var(--highlight-1) 0%,
		var(--highlight-2) 45%,
		var(--dark-blue) 85%,
		var(--darker-blue) 100%
	);

	--top-level: 10;

	--header-menu-height: 7rem;

	--body-font-family: 'pnova-reg', 'Helvetica Neue', sans-serif;
	font-size: 22px;
}

body {
	margin: 0;
	font-size: 0.9rem;
	line-height: 1.5;
	color: var(--darker-blue);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: var(--body-font-family);
	padding-bottom: var(--header-menu-height);
	background: var(--dark-blue);

	@media screen and (min-width: 700px) {
		padding-bottom: 0;
	}
}

* {
	box-sizing: border-box;
}

#root {
	width: 100%;
	position: relative;
}

.cta {
	font-size: inherit;
	position: relative;
	color: var(--white);
	border-radius: 1rem;
	padding: .5em 1.5em;
	display: inline-block;
	text-decoration: none;
	background: var(--dark-blue);
	transition: all .15s ease-in-out;
	font-family: 'pnova-semibold', 'Helvetica Neue', sans-serif;

	@media screen and (max-width: 360px) {
		& {
			font-family: 'pnova-bold', 'Helvetica Neue', sans-serif;
		}
	}

	&::after,
	&::before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: "";
		display: block;
		position: absolute;
		border-radius: 1rem;
		transition: all .15s ease-in-out;
	}
	
	&::before {
		z-index: -2;
		background: var(--dark-blue);
	}
	
	&::after {
		z-index: -1;
		border: 0.1em solid var(--white);
		background: var(--highlight-2);
	}

	&:hover {
		background: transparent;
		&::before {
			transform: skewY(var(--disrupter-angle)) scale(1.05);
		}
	}
}

section	{
	display: flex;
	text-align: left;
	overflow: hidden;
	padding: 5rem 0;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transform: skewY(var(--disrupter-angle));

	@media screen and (min-width: 700px) {
		padding: 3rem 0;
	}

	& > * {
		transform: skewY(var(--anti-disrupter-angle));
	}

	& .content {
		margin: 0 auto;
		padding: 0 3.5rem;
		max-width: 1200px;

		@media screen and (max-width: 360px) {
			& {
				padding: 0 2.5rem;
			}
		}
	}

	& h1, & h2, & h3, & h4, & h5, & h6 {
		letter-spacing: -0.1ch;
		line-height: 0.875;
		margin: .5em 0rem;
		font-size: 2rem;
	}
}

img {
	width: 100%;
}

.hidden {
	display: none;
}

@media screen and (max-width: 700px) {
	.hidden-on-m {
		display: none;
	}
}

@media screen and (min-width: 700px) {
	.hidden-on-d {
		display: none;
	}
}

[highlight="gradient"] {
	background: var(--body-gradient);
	color: var(--white);
}

[highlight="white"] {
	background: var(--white);
}

[highlight="highlight-1"] {
	background: var(--highlight-1);
}

[highlight="highlight-2"] {
	background: var(--highlight-2);
}

[highlight="highlight-3"] {
	background: var(--highlight-3);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'pnova-semibold', 'Helvetica Neue', sans-serif;

	@media screen and (max-width: 360px) {
		& {
			font-family: 'pnova-bold', 'Helvetica Neue', sans-serif;
		}
	}
}

small, .small {
	font-size: 0.9em;
}

img {
	max-width: 100%;
}

@font-face {
	font-family: 'pnova-reg';
	src: url("/fonts/proxima-nova-soft-regular-webfont.eot");
	src: url("/fonts/proxima-nova-soft-regular-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/proxima-nova-soft-regular-webfont.woff") format('woff'), url("/fonts/proxima-nova-soft-regular-webfont.ttf") format('truetype'), url("/fonts/proxima-nova-soft-regular-webfont.svg") format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pnova-med';
	src: url("/fonts/proxima-nova-soft-medium-webfont.eot");
	src: url("/fonts/proxima-nova-soft-medium-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/proxima-nova-soft-medium-webfont.woff") format('woff'), url("/fonts/proxima-nova-soft-medium-webfont.ttf") format('truetype'), url("/fonts/proxima-nova-soft-medium-webfont.svg") format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pnova-semibold';
	src: url("/fonts/proxima-nova-soft-semibold-webfont.eot");
	src: url("/fonts/proxima-nova-soft-semibold-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/proxima-nova-soft-semibold-webfont.woff") format('woff'), url("/fonts/proxima-nova-soft-semibold-webfont.ttf") format('truetype'), url("/fonts/proxima-nova-soft-semibold-webfont.svg") format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pnova-bold';
	src: url("/fonts/proxima-nova-soft-bold-webfont.eot");
	src: url("/fonts/proxima-nova-soft-bold-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/proxima-nova-soft-bold-webfont.woff") format('woff'), url("/fonts/proxima-nova-soft-bold-webfont.ttf") format('truetype'), url("/fonts/proxima-nova-soft-bold-webfont.svg") format('svg');
	font-weight: normal;
	font-style: normal;
}