#root > section#villian {
	display: flex;
	position: relative;
	padding-top: 6rem;

	& h1 {
		font-size: 4rem;
	}

	& .content {
		display: grid;
		align-items: center;
		justify-items: center;
		grid-column-gap: 1.5rem;
		grid-template-rows: auto;
		grid-template-columns: 1fr 1fr;

		@media screen and (min-width: 700px) {
			& h1 {
				font-size: 3.5rem;
			}
			& .villian-image-container {
				grid-column: 2;
				margin-bottom: -2.5rem;
				& img {
					max-width: 400px;
					border: 2px solid var(--darker-blue);
					box-shadow: 0px 5px 10px rgba(0, 0, 0, .35);
				}
			}
		}
	}
}